<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CampusXperience"
        tools:targetApi="31">
        <activity
            android:name=".rsvp4"
            android:exported="false" />
        <activity
            android:name=".rsvp3"
            android:exported="false" />
        <activity
            android:name=".rsvp2"
            android:exported="false" />
        <activity
            android:name=".rsvp1"
            android:exported="false" />
        <activity
            android:name=".eventAnalytics"
            android:exported="false" />
        <activity
            android:name=".ratingsReview"
            android:exported="false" />
        <activity
            android:name=".eventReminders"
            android:exported="false" />
        <activity
            android:name=".eventPromotion"
            android:exported="false" />
        <activity
            android:name=".rsvpTicketing"
            android:exported="false" />
        <activity
            android:name=".Promotion"
            android:exported="false"
            android:theme="@style/Theme.CampusXperience" />
        <activity
            android:name=".eventDiscovery"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>